<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>School Admin System</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-lg col-md col-sm container justify-content-center card">
				<h3 class="text-center">Add New Course</h3>
				<div class="card-body">
					<form th:action="@{/courses/list}" th:object="${course}" method="POST">
						<div class="form-group">
							<label>Course Name</label>
							<input class="form-control" type="text" name="name" th:field="*{name}"
								placeholder="Enter Course Name" required/>
						</div>
						<br>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary"> Submit </button>
						</div>

					</form>
					<br>
					<p class="text-success" style="text-align: center;" th:text="${message}"></p>
					
				</div>
			</div>
		</div>
	</div>
<!-- Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>