<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>School Admin System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

	<div class="container">
		<div class="row" style="text-align: center;">
			<h2>Students List</h2>
		</div>
<!--		<div class="row">-->
<!--			<div class="col-lg-3">-->
<!--				<a class="btn btn-primary btn-sm mb3" th:href="@{/students/new}"> Add Student </a>-->
<!--			</div>-->
<!--		</div>-->
<!--		<br>-->
		<div>
			<table class="table table-striped table-hover">
				<thead class="table-light">
					<tr>
						<th scope="col">Full Name</th>
						<th scope="col">Date Of Birth</th>
						<th scope="col">Email</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student: ${students}">
						<td th:text="${student.firstName} + ' ' + ${student.familyName}"></td>
						<td th:text="${student.DateOfBirth}"></td>
						<td th:text="${student.email}"></td>
						<td>
<!--							<a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">-->
<!--							Update-->
<!--							</a>-->
							
							<a th:href="@{/students/delete/{id}(id=${student.id})}">
							<button type="button" class="btn-close" aria-label="Delete"></button>
							</a>
						</td>
					</tr>

				</tbody>
			</table>
			</table>
		</div>
	</div>
<!-- Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>